#login-background {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)), 
              url('../../../assets/login-background.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-field {
  width: 100%;
  padding: 1rem 0 0.5rem 0;
  border: none;
  border-bottom: 2px solid #e5e7eb;
  background: transparent;
  font-size: 1.5rem;
  outline: none;
}

.input-field::placeholder {
  color: transparent;
}

.input-placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
  color: #aaa;
}

.input-field:focus + .input-placeholder,
.input-field:not(:placeholder-shown) + .input-placeholder {
  top: 0;
  transform: translateY(-50%);
  font-size: 1rem;
  margin-left: -1px;
  font-weight: 400;
  color: #aaa;
}