.hero-background {  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-background h1 {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.3), 0 0 15px rgba(255, 255, 255, 0.3);
}
