/* #register-background {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.55)),
    url("../../../assets/login-background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.left-background {
  background: #1f1c2c;
  background: -webkit-linear-gradient(
    to right,
    #1f1c2c,
    #1A2980
  );
  background: linear-gradient(
    to right,
    #1f1c2c,
    #1A2980
  );
}

.register-message {
  background: linear-gradient(
      to top right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    linear-gradient(to top right, #e50914 50%, #1877f2 50%);
}

.gradient-text {
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.45);
}
